html, body{
/*
    background: #22c1c3;
    background: -webkit-linear-gradient(to top, #fdbb2d, #22c1c3);
    background: linear-gradient(to top, #fdbb2d, #22c1c3);
    background-size: cover;
    background-repeat: no-repeat;
*/
    min-height: 1vh;
}
html, body, .row{
    margin: 0 !important;
}
h1, h2, h3, h4, h5, h6, p, hr {
    font-weight: bold;
    color: #333;
}
h1{ font-size: 5.50rem; }
h2{ font-size: 4.50rem; }
h3{ font-size: 3.50rem; }
h4{ font-size: 2.50rem; }
h5{ font-size: 2.00rem; }
h6{ font-size: 1.75rem; }
.inverted-text{
    color: #fff;
}
.shadow-text{
    text-shadow: 0 0 5px #3339;
}
.palette{
    background-size: cover;
    background-attachment: fixed;
}
.palette-0{
    background-color: #333;
    background-image: url('/static/img/photo-1524368535928-5b5e00ddc76b.jpg');
    background-attachment: scroll;
    background-position: center;
}
.palette-1{
    background-color: #bbb;
}
.palette-4{
    background-image: url('/static/img/photo-1487180144351-b8472da7d491.jpg');
    color: #fff;
}
.palette-3{
    background-color: #bbb
}
.palette-2{
    background-image: url('/static/img/photo-1517260286907-f7d84f1f9ba4.jpg');
    color: #fff;
}
.modebar, ._dash-undo-redo{
    display: none !important;
}
.pad{
    padding: 10% 0 5% 0;
}
.pad-sm{
    padding: 5% 0 5% 0;
}
.pad-sm-b{
    padding: 0% 0 5% 0;
}
.max-height-400{
    max-height: 400px;
}
.avatar{
    border-radius: 50%;
}
.gridbox, .gridbox-sm{
    object-fit: cover;
    width: 25em;
    height: 25em;
}
.gridbox{
    max-width: 100%;
    max-height: 100%;
}
.gridbox-sm{
    width: 15em;
    height: 15em;
}
.gridbox-xs{
    width: 10em;
    height: 10em;
}
.right-tab{
    margin-right: -3em;
}
.left-tab{
    margin-left: -3em;
}
.in-front {
    z-index: 100;
}
.behind {
    z-index: 1;
}
.textbox{
    background: #ddd;
    display: inline-block;
    padding: .1em .2em;
}
.centerbox{
    display: flex;
    align-items: center;
    padding: .5em 0 5em 0;
    margin: .5em 0;
}
.centerflex{
    display: flex;
    align-items: center
}
.full-screen{
    min-height: 100vh;
    width: 100%;
    padding: 3rem 1rem;
    color: #333 !important;
}
.half-screen{
    min-height: 60vh;
    width: 100%;
    padding: 3rem 1rem;
    color: #333 !important;
}
.Select {
    min-width: 10em;
}
.intro-text{
    padding-top: 5em;
}